h1{
    color: red;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-decaration: underline;
}
h2{
    color: blue;
    font-size: 25px;
    
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}